:root{
    --btnPadding: .4rem;
    --border: 1px solid grey;
    --borderRadius: 6px;
    --actionColor:rgb(29, 131, 156);

}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: style type;;
}


html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider{
    padding: .8rem;
    position: relative;
}

input{
    all: unset;
    border: var(--border);
    padding: .38rem;
    color: black;

}


button{
    all: unset;
    border: var(--border);
    border-radius: var(--borderRadius);
    text-align: center;
    text-transform: uppercase;
    padding: calc(var(--btnPadding)* 2)
}

button:hover {
    cursor: pointer;
}

.nav-container{
    border-bottom: 1px solid;
    display: flex;
    width: 80%;
    justify-content: space-between;
    /* padding: .68rem; */
    align-items: center;
    position: relative;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    gap: .4rem;
    padding: .4rem
}

.link {
    font-weight: 500; 
    color: rgb(0, 0, 0) ;
    text-transform: inherit;
    margin-top: 8%;
}
/* .link:hover {
    cursor: pointer;
    border-bottom: 1px solid;
    transition: border-bottom 4s ease;
} */
 p{
    font-weight: 300;
}

p{
    width: 46%;
    text-align: left;
    padding: .8rem;
}

a{
    color: black;
    text-decoration: none;
    padding: .6rem;
    align-self: center;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    cursor:pointer;
    position: relative;
}

a:hover{
    cursor: crosshair;
}

a::before {
    content:'';
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.486);
    position: absolute;
    left: 8%;
    top: 90%;
}


@keyframes border-extension {
    from {
        width : 0%
    }
    to {
        width: 80%;
        transition: width 0.1s ease;
    }
}


a:hover::before  {
    background-color: grey;
    animation: border-extension 1000ms;
    
}

.product-container {
    display: flex;
    flex-wrap: nowrap;
    width: 58%;
    overflow-x: scroll;
    align-self: center;
    gap: .8rem;
    position: relative;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    border: 1px solid;
    padding: .8rem;
}

.img-container{
    width: 200px;
    display: flex;
    align-items: center;
    border: 1px solid
}

.img-container img {
    width: 50%
}

#name-block {
    position: fixed;
    left: 28%;
    top: 50%;
}

#price{
    display: inline-block;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    gap: .4rem;
    padding: .8rem;
    width: 80%;
    position: relative;
}

#clicked-img {
    width: 72%
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: .4rem;
    border: var(--border);
    width: 100%;
    padding: .4rem;
    margin-top: -14.8%
    /* position: absolute; */

}

#form p{
    align-self: center;
    margin-left: 14%;
}

.form-control{
    padding: .24rem;
    display: flex;
    flex-direction: column;
    width: 40%
}

#form .form-control:nth-child(4){
    flex-direction: row;
    justify-content: space-between;
    /* width: 20%; */
    gap: .4rem;
}

.form-control button{
    width: 50%;
}

#add-to-cart{
    font-weight: 700;
    width: 40%
}

#add-to-cart:hover {
    border: 1px solid transparent;
    border-radius: 30px;
    color: white;
    background-color: rgb(29, 131, 156);
    transition: border-radius 1s ease-in-out, background-color 1s ease-in-out, border 1s ease-in-out;
}


#cart-counter {
    width: 24px;
    height: 24px;
    /* background-color: black; */
    border-radius: 50%;
    margin-left: 80%;
    position: fixed;
    z-index: 1;
    top: 0.8%;
    color: var(--actionColor);
    font-size: medium;
    text-align: center;
    font-weight: bold;
}

.cart-feedback {
    padding: .4rem;
    border-radius: var(--borderRadius);
    position: absolute;
    background-color: rgb(53, 206, 135);
    margin-top: -12%;
    color: white;
    text-align: center;
    z-index: 1;
}


.active {
    margin-top: 5.8%;
    transition: margin-top 0.6s ease;
}

.deactivate {
    margin-top: -12%;
    transition: margin-top 1s ease;
}

.render-card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    border: var(--border);
    width: 60%;
    margin-top: 2%;
    border-radius: var(--borderRadius);
    padding: .4rem;
}

.render-imgContainer {
    width: 40%
}

.render-photo {
    width: 50%
}

.render-infoContainer {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: var(--border)
}

.render-totalPrice {
    padding: .4rem;
    align-self: center;
    font-weight: 500;
    margin-left: 36%;
    margin-top: 4%;
}

.render-btnContainer {
    display: flex;
    justify-content: space-between;
    gap: .8rem;
    padding: .2rem;
    align-self: center;
    margin-left:-28%;

}

.render-btn, .render-payBtn {
    all: unset;
    padding-left: calc(var(--btnPadding) * 2) ;
    padding-right: calc(var(--btnPadding) * 2) ;
    border: var(--border);
    border-radius: var(--borderRadius);
    text-align: center;
    text-transform: uppercase;
}

.render-amt{
    font-weight: 480;
    border: 0;
    text-align: left;
    width: fit-content;
    margin-left: -8%
}

.render-payBtn {
    margin-top: .8rem;
    padding: calc(var(--btnPadding)* 2)
}

.render-payBtn:hover {
    border: 1px solid transparent;
    background-color: white;
    /* font-weight: bolder; */
    font-size: larger;
    transition: font-size 0.8s ease, border 0.1s ease;
}


#home-decor {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70%;
    padding: .8rem;
    gap: .4rem;
    align-self: center;
}

#home-decor .text-info {
    border-right: 2px solid grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    width: 50%;
    align-self: center;
    height: fit-content;
    padding: .4rem;
}

#home-decor .text-info p {
    width: 100%;
    align-self: center;
}

#home-decor .image-container {
    width: 80%;
    height: 700px;
    position: relative;
}

#home-decor .image-container  img {
    width: 100%;
    height: 100%;
}


#home-decor .text-info .mini-scroller {
    position: relative;
    display: flex;
    overflow-x: scroll;
    height: 200px;
    gap: .8rem;
    width: 86%;
    margin-top: 8%;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    margin-left: -10%;
    border-right: 1px solid black;
    padding: 1rem;
}

#home-decor .text-info .mini-scroller::-webkit-scrollbar {
    width: 4px
}

#home-decor .text-info .mini-scroller::-webkit-scrollbar-track {
    background-color: white;
    width: 10px !important;
    height: 4px !important;
    background-clip: content-box;
    border: 3px solid transparent;
}
#home-decor .text-info .mini-scroller::-webkit-scrollbar-thumb  {
    background-color: rgba(155, 142, 142, 0.315);
    border-radius: 8px;

}



#home-decor .text-info .mini-scroller img {
    width: 100%;
    /* border-radius: 4px; */
    opacity: 80%;
}

#home-decor .text-info .mini-scroller:hover {
    cursor: crosshair
}

@keyframes slide-in {
    from {
        transform: translateX(20%);
        opacity: 80%;
        transition: opacity 2s ease-in 2s;

    }

    to {
        transform: translateX(0%);
        opacity: 100%;
        transition: opacity 2s ease-in 2s;

    }
}

.animate-placeholder {
    animation : slide-in 3000ms
}